/*
Theme Name: idt002_12
Description: idt002_12, IDThemes Project theme for Drupal.
*/

/* begin Page */
body
{
	margin: 0 auto;
	padding: 0;
	background-color: #27321A;
	background-image: url('images/Page-BgTexture.jpg');
	background-repeat: repeat-y;
	background-attachment: scroll;
	background-position: top right;
}

#idt-main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}

#idt-page-background-glare
{
	position: absolute;
	width: 100%;
	height: 376px;
	left: 0;
	top: 0;
}

#idt-page-background-glare-image
{
	background-image: url('images/Page-BgGlare.png');
	background-repeat: no-repeat;
	height: 376px;
	width: 425px;
	margin: 0;
}

html:first-child #idt-page-background-glare
{
	border: 1px solid transparent; /* Opera fix */
}


#idt-page-background-gradient
{
	position: absolute;
	background-image: url('images/Page-BgGradient.jpg');
	background-repeat: no-repeat;
	top:0;
	width:100%;
	height: 900px;
	
}

#idt-page-background-gradient
{
	background-position: top right;
}

#idt-page-background-simple-gradient
{
	position: absolute;
	background-image: url('images/Page-BgSimpleGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width: 100%;
	height: 900px;
}

.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.idt-Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 1000px;
	min-width:81px;
	min-height:81px;
}

.idt-Sheet-body
{
	position: relative;
	z-index:1;
	padding: 14px;
}

.idt-Sheet-tr, .idt-Sheet-tl, .idt-Sheet-br, .idt-Sheet-bl, .idt-Sheet-tc, .idt-Sheet-bc,.idt-Sheet-cr, .idt-Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.idt-Sheet-tr, .idt-Sheet-tl, .idt-Sheet-br, .idt-Sheet-bl
{
	width: 136px;
	height: 136px;
	background-image: url('images/Sheet-s.png');
}

.idt-Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 68px, 68px, auto);
}

.idt-Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 68px, 68px);
}

.idt-Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(68px, 68px, auto, auto);
}

.idt-Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(68px, auto, auto, 68px);
}

.idt-Sheet-tc, .idt-Sheet-bc
{
	left: 68px;
	right: 68px;
	height: 136px;
	background-image: url('images/Sheet-h.png');
}

.idt-Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 68px, auto);
}

.idt-Sheet-bc
{
	bottom: 0;
	clip: rect(68px, auto, auto, auto);
}

.idt-Sheet-cr, .idt-Sheet-cl
{
	top: 68px;
	bottom: 68px;
	width: 136px;
	background-image: url('images/Sheet-v.png');
}

.idt-Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 68px);
}

.idt-Sheet-cl
{
	left:0;
	clip: rect(auto, 68px, auto, auto);
}

.idt-Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 68px;
	left: 68px;
	right: 68px;
	bottom: 68px;
	background-image: url('images/Sheet-c.png');
}


.idt-Sheet
{
	margin-top: 6px !important;
}

#idt-page-background-simple-gradient, #idt-page-background-gradient, #idt-page-background-glare
{
	min-width:1000px;
}

/* end Box, Sheet */

/* begin Header */
div.idt-Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 972px;
	height: 150px;
}

div.idt-Header-png
{
	position: absolute;
	z-index:-2;
	top: 0;
	left: 0;
	width: 972px;
	height: 150px;
	background-image: url('images/Header.png');
	background-repeat: no-repeat;
	background-position: left top;
}

/* end Header */

/* begin Logo */
.idt-Logo
{
	display : block;
	position: absolute;
	left: 19px;
	top: 20px;
	width: 953px;
}

h1.idt-Logo-name
{
	display: block;
	text-align: left;
}

h1.idt-Logo-name, h1.idt-Logo-name a, h1.idt-Logo-name a:link, h1.idt-Logo-name a:visited, h1.idt-Logo-name a:hover
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 32px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding:0;
	margin:0;
	color: #F6ECE9 !important;
}

.idt-Logo-text
{
	display: block;
	text-align: left;
}

.idt-Logo-text, .idt-Logo-text a
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding:0;
	margin:0;
	color: #CA8B7D !important;
}

div.idt-Logo-image
{
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 953px;
	text-align: left;	
}
/* end Logo */

/* begin Menu */
/* menu structure */

.idt-menu a, .idt-menu a:link, .idt-menu a:visited, .idt-menu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.idt-menu, .idt-menu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.idt-menu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.idt-menu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.idt-menu li li
{
	float: none;
}

.idt-menu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.idt-menu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.idt-menu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.idt-menu:after, .idt-menu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.idt-menu, .idt-menu ul
{
	min-height: 0;
}

.idt-menu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.idt-menu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}





/* menu structure */

.idt-menu
{
	padding: 4px 2px 0px 2px;
}

.idt-nav
{
	position: relative;
	height: 29px;
	z-index: 100;
}

.idt-nav .l, .idt-nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 29px;
	background-image: url('images/nav.png');
}

.idt-nav .l
{
	left: 0;
	right:0px;
}

.idt-nav .r
{
	right: 0;
	width: 972px;
	clip: rect(auto, auto, auto, 972px);
}


/* end Menu */

/* begin MenuItem */
.idt-menu ul li
{
	clear: both;
}

.idt-menu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 25px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 4px;
	margin-left: 4px;
}


.idt-menu a .r, .idt-menu a .l
{
	position:absolute;
	display: block;
	top:0;
	z-index:-1;
	height: 75px;
	background-image: url('images/MenuItem.png');
}

.idt-menu a .l
{
	left:0;
	right:10px;
}

.idt-menu a .r
{
	width:420px;
	right:0;
	clip: rect(auto, auto, auto, 410px);
}

.idt-menu a .t 
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1A1A1A;
	padding: 0 2px;
	margin: 0 10px;
	line-height: 25px;
	text-align: center;
}

.idt-menu a:hover .l, .idt-menu a:hover .r
{
	top:-25px;
}

.idt-menu li:hover>a .l, .idt-menu li:hover>a .r
{
	top:-25px;
}

.idt-menu li:hover a .l, .idt-menu li:hover a .r
{
	top:-25px;
}
.idt-menu a:hover .t
{
	color: #F6ECE9;
}

.idt-menu li:hover a .t
{
	color: #F6ECE9;
}

.idt-menu li:hover>a .t
{
	color: #F6ECE9;
}


.idt-menu a.active .l, .idt-menu a.active .r
{
	top: -50px;
}

.idt-menu a.active .t
{
	color: #F6D2CB;
}


/* end MenuItem */

/* begin MenuSubItem */
.idt-menu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	width: 180px;
	overflow:hidden;
	line-height: 20px;
	margin-right: auto;


	background-image: url('images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 0px;
	border-style: solid;
}

.idt-nav ul.idt-menu ul span, .idt-nav ul.idt-menu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.idt-menu ul a, .idt-menu ul a:link, .idt-menu ul a:visited, .idt-menu ul a:hover, .idt-menu ul a:active, .idt-nav ul.idt-menu ul span, .idt-nav ul.idt-menu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 20px;
	color: #F0F0F0;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	letter-spacing: 1px;
}

.idt-menu ul ul a
{
	margin-left: auto;
}

.idt-menu ul li a:hover
{
	color: #F6ECE9;
	background-position: 0 -20px;
}

.idt-menu ul li:hover>a
{
	color: #F6ECE9;
	background-position: 0 -20px;
}

.idt-nav .idt-menu ul li a:hover span, .idt-nav .idt-menu ul li a:hover span span
{
	color: #F6ECE9;
}

.idt-nav .idt-menu ul li:hover>a span, .idt-nav .idt-menu ul li:hover>a span span
{
	color: #F6ECE9;
}


/* end MenuSubItem */

/* begin ContentLayout */
.idt-contentLayout
{
	position: relative;
	margin-bottom: 8px;
	width: 972px;
}
/* end ContentLayout */

/* begin Box, Block */
.idt-Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.idt-Block-body
{
	position: relative;
	z-index:1;
	padding: 0px;
}



.idt-Block
{
	margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.idt-BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 7px;
	margin-bottom: 0px;
}

.idt-BlockHeader .t
{
	height: 30px;
	color: #D14E3D;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	white-space : nowrap;
	padding: 0 7px;
	line-height: 30px;	
}

.idt-BlockHeader .t h2.subject
{
	height: 30px;
	color: #D14E3D;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	white-space : nowrap;
	padding: 0 7px;
	line-height: 30px;
	top: 0;
	margin-bottom: 0;
	margin-top: 0;
}





.idt-header-tag-icon
{
	display:inline-block;
	background-position:left top;
	background-image: url('images/BlockHeaderIcon.png');
	padding:0 0 0 21px;
	background-repeat: no-repeat;
	min-height: 14px;
	margin: 0 0 0 5px;
}


/* end BlockHeader */

/* begin Box, BlockContent */
.idt-BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:15px;
	min-height:15px;
}

.idt-BlockContent-body
{
	position: relative;
	z-index:1;
	padding: 8px;
}

.idt-BlockContent-tr, .idt-BlockContent-tl, .idt-BlockContent-br, .idt-BlockContent-bl, .idt-BlockContent-tc, .idt-BlockContent-bc,.idt-BlockContent-cr, .idt-BlockContent-cl
{
	position:absolute;
	z-index:-1;
}

.idt-BlockContent-tr, .idt-BlockContent-tl, .idt-BlockContent-br, .idt-BlockContent-bl
{
	width: 14px;
	height: 14px;
	background-image: url('images/BlockContent-s.png');
}

.idt-BlockContent-tl
{
	top:0;
	left:0;
	clip: rect(auto, 7px, 7px, auto);
}

.idt-BlockContent-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 7px, 7px);
}

.idt-BlockContent-bl
{
	bottom: 0;
	left: 0;
	clip: rect(7px, 7px, auto, auto);
}

.idt-BlockContent-br
{
	bottom: 0;
	right: 0;
	clip: rect(7px, auto, auto, 7px);
}

.idt-BlockContent-tc, .idt-BlockContent-bc
{
	left: 7px;
	right: 7px;
	height: 14px;
	background-image: url('images/BlockContent-h.png');
}

.idt-BlockContent-tc
{
	top: 0;
	clip: rect(auto, auto, 7px, auto);
}

.idt-BlockContent-bc
{
	bottom: 0;
	clip: rect(7px, auto, auto, auto);
}

.idt-BlockContent-cr, .idt-BlockContent-cl
{
	top: 7px;
	bottom: 7px;
	width: 14px;
	background-image: url('images/BlockContent-v.png');
}

.idt-BlockContent-cr
{
	right:0;
	clip: rect(auto, auto, auto, 7px);
}

.idt-BlockContent-cl
{
	left:0;
	clip: rect(auto, 7px, auto, auto);
}

.idt-BlockContent-cc
{
	position:absolute;
	z-index:-1;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	background-color: #B96755;
}


.idt-BlockContent-body
{
	color:#000000;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
}

.idt-BlockContent-body a:link
{
	color: #69362B;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.idt-BlockContent-body a:visited, .idt-BlockContent-body a.visited
{
	color: #D1D1D1;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

.idt-BlockContent-body a:hover, .idt-BlockContent-body a.hover
{
	color: #EA9686;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

.idt-BlockContent-body ul
{
	list-style-type: none;
	color: #1E0A05;
	margin:0;
	padding:0;
}

.idt-BlockContent-body li
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	margin-left: 12px;
}

.idt-BlockContent-body ul li
{
	padding:0px 0 0px 16px;
	background-image: url('images/BlockContentBullets.png');
	background-repeat:no-repeat;
	margin:0.5em 0 0.5em 0;
	line-height:1.2em;
}


.idt-BlockContent-body .calendar-calendar td a:visited, .idt-BlockContent-body .calendar-calendar td a.visited
{
	color: #69362B;
}

.idt-BlockContent-body  .links li
{
	float: left;
	padding: 0 0 0 1em;
	background-image: none;
}

.idt-BlockContent-body .calendar-calendar td a:hover
{
	text-decoration:underline;
}

.idt-BlockContent-body table td.mini a
{
	font-weight:normal;
}

.idt-BlockContent-body table td div.mini-day-on a 
{
	text-decoration:underline;
}

.idt-BlockContent-body .calendar-calendar td a
{
	text-decoration:none;
}
/* end Box, BlockContent */

/* begin Box, Post */
.idt-Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.idt-Post-body
{
	position: relative;
	z-index:1;
	padding: 12px;
}



.idt-Post
{
	margin: 10px;
}

/* Start images */
a img
{
	border: 0;
}

.idt-article img, img.idt-article
{
	margin: 1em;
}

.idt-metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin:2px;
}
/* Finish images */

/* Start tables */

.idt-article table, table.idt-article
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

.idt-article table, table.idt-article .idt-article tr, .idt-article th, .idt-article td
{
	background-color:Transparent;
}

.idt-article th, .idt-article td
{
	padding: 2px;
	border: solid 1px #93B46E;
	vertical-align: top;
	text-align:left;
}

.idt-article th
{
	text-align:center;
	vertical-align:middle;
	padding: 7px;
}

/* Finish tables */
/* end Box, Post */

/* begin PostHeaderIcon */
.idt-PostHeaderIcon-wrapper
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 8px;
	color: #F5CEC7;
}

.idt-PostHeaderIcon-wrapper, .idt-PostHeaderIcon-wrapper a, .idt-PostHeaderIcon-wrapper a:link, .idt-PostHeaderIcon-wrapper a:visited, .idt-PostHeaderIcon-wrapper a:hover
{
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 8px;
	color: #F5CEC7;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.idt-PostHeader a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #EEADA0;
}

.idt-PostHeader a:visited, .idt-PostHeader a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #F2E2DE;
}

.idt-PostHeader a:hover, .idt-PostHeader a.hovered
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  text-align: left;
  color: #FDF4F2;
}
/* end PostHeader */

/* begin PostIcons */
.idt-PostHeaderIcons
{
	padding:1px;
}

.idt-PostHeaderIcons, .idt-PostHeaderIcons a, .idt-PostHeaderIcons a:link, .idt-PostHeaderIcons a:visited, .idt-PostHeaderIcons a:hover
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	letter-spacing: 1px;
	color: #F8DDD8;
}

.idt-PostHeaderIcons a, .idt-PostHeaderIcons a:link, .idt-PostHeaderIcons a:visited, .idt-PostHeaderIcons a:hover
{
	margin:0;
}

.idt-PostHeaderIcons a:link
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #CA8B7D;
}

.idt-PostHeaderIcons a:visited, .idt-PostHeaderIcons a.visited
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	letter-spacing: 1px;
	color: #A3A3A3;
}

.idt-PostHeaderIcons a:hover, .idt-PostHeaderIcons a.hover
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
	color: #E37863;
}
/* end PostIcons */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  color: #041E01;
}

.idt-PostContent
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 5px;
  color: #041E01;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  letter-spacing: 1px;
  color: #E37863;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  letter-spacing: 1px;
  color: #E37863;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #D9ABA1;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #FDF4F2;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 20px;
  letter-spacing: 3px;
  text-align: left;
  color: #CA8B7D;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: left;
  color: #CA8B7D;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: left;
  color: #D9ABA1;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  letter-spacing: 2px;
  text-align: left;
  color: #BDBDBD;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  letter-spacing: 2px;
  text-align: left;
  color: #BDBDBD;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  letter-spacing: 2px;
  text-align: left;
  color: #BDBDBD;
}
/* Finish Content headings Fonts & Colors  */

.idt-PostContent .calendar-calendar ul li, .idt-PostContent .calendar-calendar ol ul li,
.idt-PostContent div.view div.views-admin-links ul li, .idt-PostContent div.view div.views-admin-links ol ul li
{
	background-image: none;
	padding: 2px;
}

.date-heading h3
{
	text-align: center;
}

.idt-PostContent ul.idttabs_primary li, .idt-PostContent ul.idttabs_secondary li
{
	background-repeat: no-repeat;
	background-image: none;
}/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #BDBDBD;
	margin:1em 0 1em 2em;
	padding:0;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	text-align: left;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



.idt-Post li
{
	padding:0px 0 0px 13px;
	line-height:1.2em;
}

.idt-Post ol li, .idt-Post ul ol li
{
	background: none;
	padding-left:0;
}

.idt-Post ul li, .idt-Post ol ul li 
{
	background-image: url('images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:13px;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote p
{
	color:#862A18;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

blockquote
{
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 28px;
	background-color:#D2E0DF;
	background-image:url('images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */
/* end PostQuote */

/* begin PostIcons */
.idt-PostFooterIcons
{
	padding:1px;
}

.idt-PostFooterIcons, .idt-PostFooterIcons a, .idt-PostFooterIcons a:link, .idt-PostFooterIcons a:visited, .idt-PostFooterIcons a:hover
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #FBECE9;
}

.idt-PostFooterIcons a, .idt-PostFooterIcons a:link, .idt-PostFooterIcons a:visited, .idt-PostFooterIcons a:hover
{
	margin:0;
}

.idt-PostFooterIcons a:link
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	color: #CA8B7D;
}

.idt-PostFooterIcons a:visited, .idt-PostFooterIcons a.visited
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	letter-spacing: 1px;
	color: #A3A3A3;
}

.idt-PostFooterIcons a:hover, .idt-PostFooterIcons a.hover
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
	letter-spacing: 1px;
	color: #E37863;
}
/* end PostIcons */

/* begin Button */
.idt-button-wrapper .idt-button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:21px;
	margin:0 !important;
	padding:0 !important;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.idt-button-wrapper
{
	display:inline-block;
	position:relative;
	height: 21px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	z-index:0;
}

.idt-button-wrapper .idt-button
{
	display:block;
	height: 21px;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: left;
	padding: 0 5px !important;
	line-height: 21px;
	text-decoration: none !important;
	color: #242424 !important;
}

input, select
{
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.idt-button-wrapper.hover .idt-button, .idt-button:hover
{
	color: #FBECE9 !important;
	text-decoration: none !important;
}

.idt-button-wrapper.active .idt-button
{
	color: #F5E8E6 !important;
}

.idt-button-wrapper .l, .idt-button-wrapper .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 63px;
	background-image: url('images/Button.png');
}

.idt-button-wrapper .l
{
	left:0;
	right:3px;
}

.idt-button-wrapper .r
{
	width:407px;
	right:0;
	clip: rect(auto, auto, auto, 404px);
}

.idt-button-wrapper.hover .l, .idt-button-wrapper.hover .r
{
	top: -21px;
}

.idt-button-wrapper.active .l, .idt-button-wrapper.active .r
{
	top: -42px;
}


/* end Button */

/* begin Footer */
.idt-Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 972px;
	margin: 5px auto 0px auto;
}

.idt-Footer .idt-Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 15px;
	text-align: center;
}

.idt-Footer .idt-Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-image: url('images/Footer.png');
	width: 972px;
	height: 150px;
	bottom:0;
	left:0;
}


.idt-rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	background-image: url('images/rssIcon.png');
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	height: 32px;
	width: 17px;
}




.idt-Footer .idt-Footer-text p
{
	margin: 0;
}

.idt-Footer .idt-Footer-text
{
 padding-right:40px;
	display:inline-block;
	color:#93B46E;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	letter-spacing: 1px;
}

.idt-Footer .idt-Footer-text a:link
{
	text-decoration: none;
	color: #D0988B;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

.idt-Footer .idt-Footer-text a:visited
{
	text-decoration: none;
	color: #E0E0E0;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

.idt-Footer .idt-Footer-text a:hover
{
	text-decoration: none;
	color: #E78774;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}
/* end Footer */

/* begin PageFooter */
.idt-page-footer, .idt-page-footer a, .idt-page-footer a:link, .idt-page-footer a:visited, .idt-page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#2F1813;
}

.idt-page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#212121;
}
/* end PageFooter */

/* begin LayoutCell */
.idt-contentLayout .idt-content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 487px;
}
.idt-contentLayout .idt-content-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 729px;
}
.idt-contentLayout .idt-content-sidebar2
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 729px;
}
.idt-contentLayout .idt-content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 971px;
}
/* end LayoutCell */

/* begin LayoutCell */
.idt-contentLayout .idt-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 242px;
}
/* end LayoutCell */

/* begin LayoutCell */
.idt-contentLayout .idt-sidebar2
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 242px;
}
/* end LayoutCell */


/*
** HTML elements
*/
#footer { text-align: center; }
ul li, li.expanded, li.leaf, li.collapsed { text-align: left; display: block; background-image: none; list-style-type: none; list-style-image: none; }
.idttabs_primary, .idttabs_secondary, .links, .service-links img, service-links img { padding-left: 0px; margin: 0px; }
ul.idttabs_primary li, ul.idttabs_secondary li { background-image: none; float: left; display: inline; padding: 0; }
ul.idttabs_primary li a, ul.idttabs_secondary li a { margin: 0 5px; }
ul.links li { display: inline; background-image: none; }
#user-login-form { text-align: left; }
#user-login-form ul li { background-image: none; padding-left:0; }
fieldset { margin: 1em 0; padding: 1em;  border: 1px solid ; width: 95%;}
fieldset legend { /* Fix disappearing legend in FFox */ display: block; }
.breadcrumb { display: block; padding-bottom: .7em; }
.form-text, .form-textarea { width: 95%; text-align: left; }
.tags { float: left; }
.messages { padding: 5px; margin: 5px 0; }
.status { border: 1px solid #090; background:#C9FBC8; margin: 5px 0; }
.messages li { margin: 5px 0; }
tr.even, tr.odd { background-color: transparent; }
#forum .links li { float: none; clear: both; }
#forum table { width: auto; margin-top: 15px; }
#forum td.container { padding-top: 15px; border-left: none; border-right: none; }
#forum td.active { background-color: transparent; }
#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply { padding-top: 4px; padding-bottom: 4px; }
#forum td.container { font-weight: bold; }
#forum td.active { background-color: transparent; }
.forum-topic-navigation { border-top: 0px transparent; border-bottom: 0px transparent; }
.forum-topic-navigation .topic-previous { text-align: left; float: left; }
.forum-topic-navigation .topic-next { text-align: right; float: right; }
.read_more { margin: 5px 0px; text-align:left; }
.sticky-table H2 { font-size: 10px; }
.idt-Footer .idt-Footer-inner { float: left; width: 100%; }
.idt-BlockContent { width: 100% !important; }

.block-region { padding: 1em; background: transparent; border: 2px dashed #b4d7f0; text-align: center; font-size: 1.3em; }
