/* begin Box, Sheet */
.idt-Sheet-tl
{
	clip: rect(auto 68px 68px auto);
}

.idt-Sheet-tr
{
	clip: rect(auto auto 68px 68px);
}

.idt-Sheet-bl
{
	clip: rect(68px 68px auto auto);
}

.idt-Sheet-br
{
	clip: rect(68px auto auto 68px);
}

.idt-Sheet-tc
{
	clip: rect(auto auto 68px auto);
}

.idt-Sheet-bc
{
	clip: rect(68px auto auto auto);
}

.idt-Sheet-cr
{
	clip: rect(auto auto auto 68px);
}

.idt-Sheet-cl
{
	clip: rect(auto 68px auto auto);
}
/* end Box, Sheet */

/* begin Menu */
.idt-nav .r
{	clip: rect(auto auto auto 972px);
}
/* end Menu */

/* begin MenuItem */
.idt-menu a .r
{
	clip: rect(auto auto auto 405px);
}
/* end MenuItem */

/* begin Box, BlockContent */
.idt-BlockContent-tl
{
	clip: rect(auto 7px 7px auto);
}

.idt-BlockContent-tr
{
	clip: rect(auto auto 7px 7px);
}

.idt-BlockContent-bl
{
	clip: rect(7px 7px auto auto);
}

.idt-BlockContent-br
{
	clip: rect(7px auto auto 7px);
}

.idt-BlockContent-tc
{
	clip: rect(auto auto 7px auto);
}

.idt-BlockContent-bc
{
	clip: rect(7px auto auto auto);
}

.idt-BlockContent-cr
{
	clip: rect(auto auto auto 7px);
}

.idt-BlockContent-cl
{
	clip: rect(auto 7px auto auto);
}
/* end Box, BlockContent */

/* begin PostContent */
.idt-PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.idt-button-wrapper .r
{
	clip: rect(auto auto auto 404px);
}
/* end Button */

